$background: #FFFFFF;
$black: #1b1e23;
$grey: #f4eed7;
$grey2: #9e9a89;
$red: #ff0000;

body, html {
    height: 100%;
    margin: 0;
    font-family: sans-serif;
}

body {
    background: $black;
    display: flex;
    justify-content: center;
    align-items: center;
}


#root {
    position: relative;
    height: 330px;
    width: 400px;
    border: 1px solid $grey2;
    background: $black;
    border-radius: 5px;
}

.score {
    position: absolute;
    top: 0;
    left: 10px;
    padding-top: 6px;
    display: flex;
    color: $grey;
    justify-content: space-between;
    box-sizing: border-box;
    height: 30px;
    width: calc(100% - 20px);
    border-bottom: 1px solid $grey2;
}

.menu {
    position: absolute;
    top: calc(50% + 15px);
    width: 100%;
    text-align: center;
    font-size: 0.75em;
    color: $grey2;
    transform: translateY(-50%);

    &.hidden {
        display: none;
    }

    span {
        color: $grey;
    }
}

/*@keyframes slide {
    0% {
        transform: translateX(-10px);
    }

    100% {
        transform: translateX(0);
    }
}*/

.ball {
    width: 4px;
    height: 4px;
    border: 1px solid $red;
    border-radius: 3px;
    position: absolute;
    transition: 0.05s;
}


/*@keyframes grow {
    0% {
        width: 0px;
        height: 0px;
    }

    100% {
        width: 4px;
        height: 4px;
    }
}*/
